footer {
  background-color: get_col(footer-bg);
  span {
    line-height: 20px;
    padding: 0 20px;
    font-size: 18px;
    color: get_col(header-text);
  }
  .hint {
    width: 200px;
    font-size: 14px;
    text-align: left;
    overflow: visible;
  }
}
