.login-modal {
  width: 60%;
  min-width: 350px;
  max-width: 600px;
  height: 60%;

  form {
    width: 350px;
    label, input {
      padding: 5px;
    }
    input {
      position: relative;
      right: -55px;
      margin-bottom: 30px;
    }
    .error {
      position: relative;
      right: 30px;
      font-size: 14px;
      color: red;
    }
    .warning {
      right: -80px;
      top: -10px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    label, input {
      font-size: 18px;
      color: get_col(modal-text);
    }
    input[type='text'], input[type='password'] {
      border-bottom: 2px solid get_col(modal-text);
    }
    .form-confirm {
      text-align: center;
    }
  }
}



.set-settings-modal {
  width: 60%;
  min-width: 350px;
  max-width: 600px;
  height: 70%;
  form {
    li {
      list-style: none;
    }

    label {
      padding: 0 5px 2px 20px;
      line-height: 30px;
      font-size: 18px;
      color: get_col(modal-text);
      transition-duration: 0.1s;
    }
    label:hover {
      border-bottom: 2px solid get_col(modal-text);
      cursor: pointer;
    }
    .radiogroup {
      margin-bottom: 40px;
      padding: 0 20px;
      border: 2px solid get_col(modal-text);
      legend {
        padding: 0 20px;
        font-size: 20px;
        color: get_col(modal-text);
      }
    }
    .form-confirm {
      text-align: center;
    }
  }
}

.game-over-modal {
  width: 60%;
  min-width: 350px;
  max-width: 600px;
  height: 60%;
  form {
    .form-content {
      margin-bottom: 40px;
    }
    label {
      font-size: 18px;
      color: get_col(modal-text);
    }
    .warning {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
      color: red;
    }
  }
}

.best-results-modal {
  min-width: 350px;
  max-width: 700px;
  .results-table {
    width: 350px;
    margin-bottom: 20px;
    th, td {
      padding: 3px;
      text-align: left;
    }
    th {
      border-bottom: 1px solid get_col(text-modal);
    }
    .user-own-res {
      color: get_col(header-text);
    }
  }

}

