header {
  background-color: get_col(header-bg);
  .logo span, button {
    padding: 0 20px;
    line-height: 20px;
    font-size: 20px;
    color: get_col(header-text);
  }
  button span {
    font-size: 14px;
  }
  .logo img {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .logo span {
      display: none;
    }
  }
}
