main {
  background-color: get_col(main-bg);
  .cards-container {
    @extend .fb-row, .fb-start, .fb-top;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    @media (max-aspect-ratio: 1/1) {
      width: 100%;
    }
  }

  .fieldsize1 {
    width: calc((100vh - #{$header-height} - #{$footer-height}) * 4 / 4);
    padding: 10px;
    @media (max-aspect-ratio: 1/1) {
      height: calc((100vw) * 4 / 4);
    }
    .card {
      width: 25%;
      height: 25%;
      i {
        font-size: 8vh;
        @media (max-aspect-ratio: 1/1) {
          font-size: 10vw;
        }
      }
    }
  }

  .fieldsize2 {
    width: calc((100vh - #{$header-height} - #{$footer-height}) * 6 / 5);
    padding: 10px;
    @media (max-aspect-ratio: 1/1) {
      height: calc((100vw) * 5 / 6);
    }
    .card {
      width: 16.66%;
      height: 20%;
      i {
        font-size: 7vh;
        @media (max-aspect-ratio: 1/1) {
          font-size: 7vw;
        }
      }
    }
  }

  .fieldsize3 {
    width: calc((100vh - #{$header-height} - #{$footer-height}) * 8 / 6);
    padding: 10px;
    @media (max-aspect-ratio: 1/1) {
      height: calc((100vw) * 6 / 8);
    }
    .card {
      width: 12.5%;
      height: 16.66%;
      i {
        font-size: 6vh;
        @media (max-aspect-ratio: 1/1) {
          font-size: 5vw;
        }
      }
    }
  }

  .card {
    box-sizing: border-box;
    padding: 1.5vh;
    @media (max-aspect-ratio: 1/1) {
      padding: 1.5vw;
    }
    background-color: transparent;
    button {
      width: 100%;
      height: 100%;
      border-radius: 10%;
      background-color: get_col(card-rev);
      transform: scaleX(-1);
      transition-duration: $card-animation-timing;
      i {
        display: none;
      }

    }
    .show {
      transform: scaleX(1);
      background-color: get_col(card-av);
      i {
        display: inline-block;
        animation-name: smooth-appearance;
        animation-duration: $card-animation-timing;
      }
    }
    .close {
      transform: scale(0);
    }

  }
}

@keyframes smooth-appearance {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

