.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: get_col(modal-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-window {
  width: 80vw;
  max-height: 90vh;
  overflow: auto;
  border: 4px solid get_col(header-bg);
  border-radius: 10px;
  background-color: get_col(main-bg);
  header {
    width: 100%;
    height: 50px;
    background-color: get_col(header-bg);
    >i, >span {
      padding: 0 20px;
      line-height: 20px;
      font-size: 20px;
      color: get_col(header-text);
      text-transform: capitalize;
    }
  }
  .main-container {
    max-height: calc(90vh - #{$header-height});
    overflow: auto;
    .main {
      flex-wrap: nowrap;
      overflow: auto;
    }
  }
  .content {
    flex-wrap: nowrap;
    margin: 20px 10px;
    font-size: 16px;
    color: get_col(modal-text);
  }
  .confirm {
    margin: 20px 10px;
    button {
      padding: 20px 40px;
      border-radius: 10px;
      background-color: get_col(modal-btn-bg);
      color: get_col(header-text);
      i {
        padding-right: 10px;
      }
    }
  }

}
