::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  &-track {
    background: get_col(main-bg);
    width: 6px;
    height: 6px;
    margin: 10px;
    border-radius: 3px;
  }

  &-thumb {
    background: get_col(header-bg);
    width: 6px;
    height: 6px;
    border-radius: 3px;

    &:hover {
      background: get_col(header-bg);
    }
  }
}
