$fa-font-path: "http://localhost:80/camp1/mblocks/src/webfonts";

$header-height: 50px;
$footer-height: 50px;

$card-animation-timing: 0.2s;

$colors: (
  header-bg: #6D3B12,
  main-bg: #2D892D,
  footer-bg: #6D3B12,
  card-rev: yellow,
  card-av: white,
  header-text: yellow,
  modal-bg: rgba(0, 0, 0, 0.5),
  modal-text: white,
  modal-btn-bg: #6D3B12
)
